.category {
	.title {
		padding: 4px 10px;
	}
	.depth-a {
		font-size: 13px !important;
		font-weight: 700 !important;
		& button {
			padding: 0 !important;
		}
	}
	.depth-b {
		font-size: 13px !important;
		font-weight: 400 !important;
	}
	.menu-field {
		margin-bottom: @footerHeight;
	}
	.short-btn {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		height: @footerHeight;
		& .short-item {
			color: white !important;
		}
	}
}