@footerHeight: 35px;
body {
	padding: 0;
	margin: 0;
	height:100%;
}

.detail {
	height:100%;
	margin-bottom: @footerHeight+20px;
}

.hr-division {
	width: 100%;
	border-color: #000000;
	margin:0;
}

.no-found-list {
	margin-top: 50px;
	& i {
		font-size: 50px;
	}
}
.back-tap{
	position: fixed;
	bottom: 0;
	margin-bottom: 45px;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	padding: 8px;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	border-radius: 40px;
	& .footer-item{
		color: white !important;
	}
	& a{

	}

}