@mobileHeight: 40px;
@gutter: 20px;
.common-header {
	width: 100%;
	background: #ffffff;
	height: @mobileHeight;
	top: 0;
	left: 0;
	box-shadow: 0 3px 8px -3px lightgrey;
	.search-area {
		height: @mobileHeight;
	}

	.search-icon {
		font-size: 20px !important;
		height: @mobileHeight;
		line-height: @mobileHeight;
	}

	.search-field {
	}

	.leave {
		transform: translateX(0);
		& .leave-active {
			transform: translateX(100%);
		}
	}
	.enter {
		transform: translateX(100%);
		& .enter-active {
			transform: translateX(0);
		}
	}

	.mobile-search-form {
		padding: 10px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: @mobileHeight;
		line-height: @mobileHeight;
		background: #fff;
		z-index: 99;
		padding: @mobileHeight/4;
		transition: .3s;

		.search-text {
			position: fixed;
			top: 0;
			left: 0;
			height: 35px;
			border: none;
			border-bottom: 1px solid black;
			border-radius: 0;
			line-height: 40px;
			background: #fff;
			z-index: 9;
			padding: inherit;
			transition: .3s;
			margin: 0 10px;
			&:focus {
				outline: none;
				background: white !important;
			}
		}
		.mobile-search-btn {
			position: absolute;
			padding: 0;
			right: 0;
			top: -@mobileHeight/12;
			height: 40px;
			line-height: 40px;
			border-radius: 100rem;
			background: transparent;
			color: #fff;
			border: 0;
			z-index: 2;
			text-align: center;
			& span{
				font-size:19px;
			}
		}
		.search-area {
			background: whitesmoke;
		}
	}

	.logo {
		font-size: 20px;
		height:@mobileHeight;
		line-height: @mobileHeight;
	}
}
