.common-footer {
	height: @footerHeight;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: rgb(255, 255, 255);
	a {
		margin-top: 5px;
	}
	& div{
		height: @footerHeight;
		color: dimgrey;
		&:after{
			border-right: 1px solid;
		}
		&:after:last-child{
			border-right: none;
		}
	}
	& button{
		border:none;
		background-color: white;
	}
	.footer-item {
	}
}