@width-division-three: calc(100% / 3);

.homeGallery {
	margin-bottom: 35px;

	.home-list-item {
		vertical-align: middle;
		height:235px;
		& a:hover {
			text-decoration: none;
		}
	}

	.show-button {
		opacity: 0.3;
		background: white;
		width: 100%;
		height: 100px;
		position: absolute;
		right: 0;
		font-size: 30px;
		margin-top: 53px;
	}

	.home-list {
		margin-bottom: 5px;
	}

	.slider-item {
		& .dummy {
			height: 55px;
			width: 100%;
			background-color: gray;
			font-size: 30px;
			font-weight: 600;
			padding: 38px;
		}
	}
}
