.join {
	.field {
		width: 83.33333333% !important;
	}

	.button {
		border: 1px solid black !important;
		border-radius: 0 !important;
	}

	.offset-1 {
		margin-left: 8.33333333% !important;
	}

	.join-button {
		width: 83.33333333% !important;
		margin-top: 35px !important;
	}

	.another-button {
		width: 41.66666667% !important;
		margin-top: 4px !important;
	}
}
