.login{
	.log-id {
		width: 83.33333333% !important;
	}

	.button {
		border:1px solid black !important;
		border-radius: 0 !important;
	}

	.offset-1 {
		margin-left:  8.33333333% !important;
	}

	.login-button {
		width: 83.33333333% !important;
		margin-top: 20px !important;
	}

	.another-button {
		width: 41.66666667% !important;
		margin-top:4px !important;
	}
}