.mypage {
	.profile-area {
		box-shadow: 0 3px 8px -3px black;
		margin-bottom: 10px;
		padding: 20px 0 ;
		& .profile-image {
			img {
				border-radius: 150px;
			}
		}
		.nick-name {
			font-size: 16px;
			font-weight: bold;
		}
	}

}