.product {
	.description-view {
		padding: 0 10px;
		margin-top: 40px;
		margin-bottom: 100px;

		& .title {
			font-size: 24px;
		}

		& .price {
			font-size: 24px;
		}

		& .instruction {
		}
		& .relation-product {
		}
	}
}