.purchase-tab {
	bottom: @footerHeight;
	width: 100%;
	z-index: 1;
	background: rgb(255, 255, 255);
	& .action-items {
		margin:20px 0;
		& button {
			font-weight: 400;
			background-color: white;
			margin: 20px 0;
			color: #7b7b7b;
			border-right: 1px solid black;
			border-top: 1px solid black;
			border-left: none;
			border-bottom: 1px solid black;
		}
		& .click-action-item {
			margin-top: 10px;
		}
		& .purchase-button {
			background-color: black;
			color:white;
		}

	}
}
.selected-field {
	max-height: 300px;
}