.review-edit {
	.title-field {
		border: none;
		box-shadow: none;
		border-radius: 0;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.review-summer-note {
		border-top: 1px solid #a9a9a9;
		border-radius: 0;
		& .note-editing-area {
			border: none;
		}
		& .note-editor.note-frame {
			border: none;
		}
	}
	.submit-btn {
		width: 30%;
		margin-left: 35%;
	}
}